<div class="container">
  <br>
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true}>
            <a routerLink="/home">Home</a></li>
          <li
            routerLinkActive="active"
            [routerLinkActiveOptions]={exact:true}
            >
            <a routerLink="/add-post">Add Post</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
      </div>
  </div>
  